//小小小
$fontSss:9px;
//小小
$fontSs:10px;
//小普
$fontSn:11px;
//普小
$fontNs:12px;
//普普
$fontNn:14px;
//普大
$fontNb:16px;
//大普
$fontBn:18px;
//大大
$fontBb:20px;
$fontBbb:26px;

/* 颜色设置 */
//缩写
$grayN:#212121;
$grayNl:#343434;
$grayL: #575757;
$grayLl:#a8a8a8;

$white:#fff;
$whiteD:#f6f6f6;

$borderColorN:#a4a4a4;
$borderColorL:#e8e8e8;

$energized: #ffac00;
$energizedL: #fdf1bd;

$positive: #7659c3;
$positiveD: #2a094c;

$balanced: #45d7aa;

//常用大小转rem
$pt2: 0.05rem;
$pt5: 0.13rem;
$pt6: 0.16rem;
$pt8: 0.21rem;
$pt10 : 0.27rem;
$pt11 : 0.29rem;
$pt12 : 0.32rem;
$pt13 : 0.35rem;
$pt14 : 0.37rem;
$pt15 : 0.4rem;
$pt16 : 0.43rem;
$pt18 : 0.48rem;
$pt20 : 0.53rem;
$pt22 : 0.59rem;
$pt23 : 0.61rem;
$pt25 : 0.67rem;
$pt27 : 0.72rem;
$pt28 : 0.75rem;
$pt30 : 0.8rem;
$pt32 : 0.85rem;
$pt38 : 1.01rem;
$pt40 : 1.07rem;
$pt44 : 1.17rem;
$pt46 : 1.23rem;
$pt50 : 1.33rem;
$pt52 : 1.39rem;
$pt60 : 1.6rem;
$pt70 : 1.87rem;
$pt72 : 1.92rem; 
$pt100: 2.67rem;
$pt160: 4.23rem;
$pt209: 5.57rem;
$pt220: 5.87rem;
$pt228: 6.08rem;
$pt244: 6.51rem;
$pt300: 8rem;